<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head> 
  
  <body>
	<script type="text/javascript">
		var div_menu = document.getElementById('header'); 
    window.onscroll = function (e) {  
        if (div_menu)
            div_menu.style.top = window.pageYOffset + 'px';
    }  
	</script>
	<header id="header" name="top">
		<div id="headCase">
			<div id="hgroup">
				<h1><a href="/">Учебные Материалы</a></h1>
				<h2>МатМех УрГУ</h2>
			</div>
			<div id="links">
				<a href="https://drive.google.com/drive/folders/1FsD50rFRUbAYkL9nVp1xR4NAvYPpNFsH?usp=sharing" class="btn btn-gdrive"><span class="icon" background="red"></span>G Drive</a>
			</div>
			<nav>
				<ul>
					<li><a href="/">Главная</a></li>
					<li><a href="/resources">Материалы</a></li>
					<li><a href="/useful">Полезное</a></li>
					<li><a href="/news">Новости</a></li>
					<li class="last"><a href="/about">О нас</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="layout">
		<div class="container">
		  <section id="main_content">
			{{ content }}
		  </section>
		</div>
		<a href="#top" id="toTop">↑</a>
	</div>
  </body>
</html>
